.wrapper {
    --layout-width: 100%;
}

.container {
    max-width: var(--layout-width);
    margin: 0 auto;
    margin-top: var(--header-height);
    display: flex;
    justify-content: center;
    .content {
        flex: 1 1 auto;
        margin: 0 16px;
        margin-left: calc(60% - var(--layout-width) / 2);
        margin-right: calc(70% - var(--layout-width) / 2);
    }
}

